#!/bin/bash
if [ -f "/etc/apt/sources.list.d/docker.list" ]; then
   rm /etc/apt/sources.list.d/docker.list
fi

if [ -f "/etc/apt/sources.list.d/kubernetes.list" ]; then
   rm /etc/apt/sources.list.d/kubernetes.list
fi

if [ -f "/etc/apt/sources.list.origin" ]; then
    rm /etc/apt/sources.list
    cat <<EOF | tee /etc/apt/sources.list
deb https://mirrors.aliyun.com/debian/ bullseye main non-free contrib
deb https://mirrors.aliyun.com/debian/ bullseye-updates main non-free contrib
deb https://mirrors.aliyun.com/debian/ bullseye-backports main non-free contrib
deb https://mirrors.aliyun.com/debian-security/ bullseye-security main

deb-src https://mirrors.aliyun.com/debian/ bullseye main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ bullseye-updates main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ bullseye-backports main non-free contrib
deb-src https://mirrors.aliyun.com/debian-security/ bullseye-security main

EOF
else
    mv /etc/apt/sources.list /etc/apt/sources.list.origin
    cat <<EOF | tee /etc/apt/sources.list
deb https://mirrors.aliyun.com/debian/ bullseye main non-free contrib
deb https://mirrors.aliyun.com/debian/ bullseye-updates main non-free contrib
deb https://mirrors.aliyun.com/debian/ bullseye-backports main non-free contrib
deb https://mirrors.aliyun.com/debian-security/ bullseye-security main

deb-src https://mirrors.aliyun.com/debian/ bullseye main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ bullseye-updates main non-free contrib
deb-src https://mirrors.aliyun.com/debian/ bullseye-backports main non-free contrib
deb-src https://mirrors.aliyun.com/debian-security/ bullseye-security main

EOF
fi

sleep 3
